/* CSS BY ADAM QUARLES */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    background-color: var(--lavender);
}

main {
    display: grid;
    max-width: 450px;
    background-color: var(--purple);
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: "Kavoon";
    font-size: 3em;
    color: var(--white);
    margin: auto;
}

nav h2 {
    font-family: "Inter";
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: var(--dark-gray);
}

h2 {
    font-family: "Kavoon";
    font-size: 2em;
    color: var(--white);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

h3 {
    font-family: "Inter";
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

h4 {
    font-family: "Inter";
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
}

p {
    font-family: "Inter";
    color: var(--dark-gray);
}

li {
    font-family: "Inter";
    color: var(--dark-gray);
}

a {
    font-family: "Inter";
    text-decoration: none;
    color: var(--purple);
}

header {
    display: grid;
    background-color: var(--purple);
    max-width: 450px;
    margin: 0 auto;
    height: 125px;
}

header p {
    text-align: center;
    color: var(--white);
}

nav {
    text-align: center;
    max-width: 450px;
    background-color: var(--yellow);
    padding-bottom: 10px;
}

nav li {
    display: grid;
    align-items: center;
    max-width: 420px;
    color: var(--purple);
    font-weight: bold;
    background-color: var(--white);
    margin: 10px auto;
    height: 50px;
    text-transform: uppercase;
}

table {
    font-family: "Inter";
}

#personal-development {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#personal-development h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#personal-development p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#personal-development img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#career-coaching {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#career-coaching h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#career-coaching p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#career-coaching img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#relationship-coaching {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#relationship-coaching h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#relationship-coaching p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#relationship-coaching img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#supportive-community {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#supportive-community h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#supportive-community p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#supportive-community img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#focused-sessions {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#focused-sessions  h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#focused-sessions  p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#focused-sessions img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#interactive-learning {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#interactive-learning  h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#interactive-learning p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#interactive-learning img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#flexible-learning {
    margin: 15px auto;
    background-color: white;
    max-width: 415px;
    border-radius: 10px;
    text-align: left;
}

#flexible-learning  h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

#flexible-learning p {
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#flexible-learning img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#why-choose-us {
    width: 450px;
    background-color: var(--pink);
}

#why-choose-us ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 17px;
    margin-bottom: 20px;
}

#why-choose-us li {
    display: grid;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

#approach {
    background-color: var(--teal);
}

#results {
    background-color: var(--lavender);
}

#environment {
    background-color: var(--yellow);
}

#options {
    background-color: var(--white);
}